<div class="homeScreen">
    <div class="homeScreen1" >
        <div class="container">
            <p>How do you begin using content marketing to promote your brand and establish yourself as a fashion industry leader? The first step is quite simple: you must delve into what content marketing is. If you want to learn more about how to do that, keep reading.</p>
            <p></p>
                <h2>With a Container</h2>
                <p>The w3-container class is one of the most important W3.CSS classes.</p>
                <p>It provides correct margins, padding, alignments, and more, to most HTML elements.</p>
                <p>It provides correct margins, padding, alignments, and more, to most HTML elements.</p>
                <p>It provides correct margins, padding, alignments, and more, to most HTML elements.</p>
                <p>It provides correct margins, padding, alignments, and more, to most HTML elements.</p>
          
        </div>
    </div>
</div>

